:root {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    --sidebar-width: clamp(200px, 22vw, 300px);
    --transition-sidebar: width 0.2s ease-in;
    --transition-noSideBar: margin-left 0.2s ease-in; 
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template:
        "sidebar header header header"
        "sidebar content content content";
    grid-template-columns: 5rem 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-area: sidebar;
    background-color: #064663;
    color:white;
    width: 5rem;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    transition: var(--transition-sidebar);
}

.sidebar:hover {
    width: var(--sidebar-width);
}

.sidebarItem > h1 {
    display: none;
    margin-left: 5%
}

.sidebar:hover > .sidebarItem > h1 {
    display: inline;
}

.sidebar:hover ~ .header,
.sidebar:hover ~ .content {
    margin-left: calc(var(--sidebar-width) - 5rem);
}

.sidebarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.sidebarItem > * {
    cursor: pointer;
}

.sidebar > div:not(:first-child) > * {
    padding: 1vw 0.1vw 0.1vw 0vw;
    font-size: calc(20px + 0.2vw);
    padding-left: 20px;
}

.sidebar > div:not(:first-child) > img {
    width: calc(20px + 0.5vw);
    height: calc(20px + 0.5vw);
}

.sidebar > div:first-child {
    font-size: clamp(12px, calc(17px + .75vw), 40px);
}

.sidebar > div:first-child > img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(40px + 0.7vw);
    height: calc(40px + 0.7vw);
    padding-left: 10px;
    padding-top: 10px;
}

.sidebar > :nth-child(8) {
    padding-top: 60px;
}

.sidebar > :nth-child(2) {
    padding-top: 60px;
}

.header {
    display: grid;
    grid-area: header;
    transition: var(--transition-noSideBar);
    padding: 1.5rem 3rem;
    border-bottom: 1px solid lightsteelblue;
}

.headerTop {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 2.5rem;
}

.search {
    display: flex;
    align-items: center;
    margin-right: auto;
    width: 100%;
}

.search > input {
    display: inline-block;
    border: 0;
    background-color: #EEEEEE;
    padding: 0.5rem 2rem;
    outline-color: #064663;
    margin-left: 1.25rem;
    border-radius: 5px;
    width: min(80%, 500px);
    margin-right: 20px;
}

.header .account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}


.avatar {
    background: url(https://github.com/jaxzxu.png) center center / cover no-repeat;
    border-radius: 50%;
}

.account .avatar {
    margin: 0 1rem 0 2.5rem;
    height: 40px;
    width: 40px;
}


.headerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.profileInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profileInfo .avatar {
    height: 70px;
    width: 70px;
}

.greeting {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.headerBottomName {
    font-size: 1.3rem;
    font-weight: 700;
}

.headerButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.btn {
    background-color: #064663;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    padding: 0.5rem 1.9rem;
    font-size: 16px;
    border: solid black;
    cursor: pointer;
}

.content {
    background-color: bisque;
    display: grid;
    grid-area: content;
    transition: var(--transition-noSideBar);
}

img {
    cursor: pointer;
}